<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mrmarktyy.flappy-jump" version="0.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>flappy-jump</name>
    <description>
        A simple and stupid Web Based HTML5 game which works on modern browsers, iOS and Android touch devices.
    </description>
    <author email="mrmarktyy@gmail.com" href="http://cordova.io">
        Mark Zhou
    </author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <access origin="*" />
</widget>
