body {
    margin: 0;
}
#game {
    font-family: 'SpecialElite', Helvetica, Georgia;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: url('../image/bg.png');
    background-size: 400px 665px;
    user-select: none;
    -webkit-user-select: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    z-index: 12;
    opacity: 0.8;
    color: #333;
    display: none;
}
.overlay .again {
    top: 190px;
    width: 100px;
    padding: 12px 10px 8px;
    position: relative;
    border: 2px solid #333;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.overlay .again:hover {
    background-color: #ddd;
}
.overlay .game-over {
    top: 170px;
    font-size: 40px;
    position: relative;
    text-align: center;
}
.overlay .game-over p {
    margin: 0;
    font-size: 30px;
}
#character {
    width: 42px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 145px;
    transition: left 50ms linear, bottom 80ms ease;
    background: url('../image/flappy.png') no-repeat;
    background-size: 1024px 1024px;
    background-position: -336px -31px;
}
#character.left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
.score {
    position: relative;
    z-index: 10;
    color: white;
}
.score > div {
    position: absolute;
    top: 0;
    padding: 10px;
}
#best {
    right: 0;
}
.stair {
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 10px solid #bada55;
    border-bottom: 20px solid #393213;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: left 20ms linear, bottom 80ms linear;
}
template {
    display: none;
}
/************************
 * Menu
 ************************/
#menu h2 {
    color: white;
    top: 30px;
    position: relative;
    text-align: center;
    font-size: 3em;
}
#menu p {
    position: relative;
    top: 120px;
    text-align: center;
}
#menu .go {
    color: white;
    background-color: transparent;
    top: 130px;
    width: 100px;
    margin: 0 auto;
    opacity: 0.6;
    position: relative;
    padding: 12px 10px 8px;
    border: 2px solid white;
    text-align: center;
    cursor: pointer;
}
#menu .go:hover {
    opacity: 1;
}
#character.fly {
    animation: fly 1s infinite ease-in-out, swing 500ms infinite step-end;
    -webkit-animation: fly 1s infinite ease-in-out, swing 500ms infinite step-end;
}
#character.swing {
    animation: swing 300ms infinite step-end;
    -webkit-animation: swing 300ms infinite step-end;
}
/************************
 * Key Frames
 ************************/
@-webkit-keyframes fly {
    0% { top: 30%; }
    50% { top: 40%; }
    100% { top: 30%; }
}
@-webkit-keyframes swing {
    0% { background-position: -336px 0px; }
    25% { background-position: -336px -31px; }
    50% { background-position: -336px -61px; }
    75% { background-position: -336px -31px; }
    100% { background-position: -336px 0px; }
}
/************************
 * Loading
 ************************/
#loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
}
#loading .text {
    color: white;
    font-size: 22px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 200px;
}
.spinner {
    margin: 230px auto 0;
    width: 70px;
    text-align: center;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
/************************
 * Font Face
 ************************/
@font-face {
    font-family: 'SpecialElite';
    src: url('../fonts/SpecialElite.ttf');
}
