body * {
    font-family: Helvetica, Georgia, Consolas;
}
.container {
    width: 980px;
    margin: 0 auto;
}
#game {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: url('../image/bg.png');
    background-size: 100% 150%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    z-index: 12;
    opacity: 0.8;
    display: none;
}
.overlay .play-again {
    top: 180px;
    width: 100px;
    padding: 10px;
    position: relative;
    border: 2px solid #333;
    color: #333;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.overlay .play-again:hover {
    background-color: #ddd;
}
.overlay .game-over {
    top: 170px;
    width: 200px;
    font-size: 30px;
    color: #333;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
#character {
    width: 42px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 145px;
    transition: left 50ms linear, bottom 50ms ease;
    background: url('../image/flappy.png') no-repeat;
    background-size: 1024px 1024px;
}
#character.left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
#character.status-0 {
    background-position: -336px 0px;
}
#character.status-1 {
    background-position: -336px -31px;
}
#character.status-2 {
    background-position: -336px -61px;
}
#score {
    position: absolute;
    padding: 5px;
    top: 0;
    color: white;
    z-index: 10;
}
#touchzone {
    height: 100%;
    width: 100%;
    position: relative;
}
#touchzone .left {
    width: 50%;
    height: 100%;
    position: absolute;
}
#touchzone .right {
    left: 50%;
    width: 50%;
    height: 100%;
    position: absolute;
}
.stair {
    position: absolute;
    background-color: #bada55;
    height: 15px;
    border-radius: 8px;
    transition: bottom 20ms linear;
}
#fork-me {
    position: absolute;
    top: 0;
    right: 0;
}
