body {
    margin: 0;
    font-family: Helvetica, Georgia, Consolas;
}
.header {
    width: 100%;
    height: 200px;
    background: #3498db;
    color: white;
}
.header .container {
    padding: 30px 0;
    width: 720px;
}
.header .container a {
    color: white;
}
.container {
    width: 980px;
    margin: 0 auto;
}
#game {
    width: 320px;
    height: 480px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    background: url('../image/bg.png');
    background-size: 400px 665px;
    user-select: none;
    -webkit-user-select: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    z-index: 12;
    opacity: 0.8;
    color: #333;
    display: none;
}
.overlay .again {
    top: 190px;
    width: 100px;
    padding: 10px;
    position: relative;
    border: 2px solid #333;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.overlay .again:hover {
    background-color: #ddd;
}
.overlay .game-over {
    top: 170px;
    font-size: 40px;
    position: relative;
    text-align: center;
}
.overlay .game-over p {
    margin: 0;
    font-size: 30px;
}
#character {
    width: 42px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 145px;
    transition: left 50ms linear, bottom 50ms ease;
    background: url('../image/flappy.png') no-repeat;
    background-size: 1024px 1024px;
}
#character.left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}
#character.status-0 {
    background-position: -336px 0px;
}
#character.status-1 {
    background-position: -336px -31px;
}
#character.status-2 {
    background-position: -336px -61px;
}
.score {
    position: relative;
    z-index: 10;
    color: white;
}
.score > div {
    position: absolute;
    top: 0;
    padding: 2px;
}
#best {
    right: 0;
}
#touchzone {
    height: 100%;
    width: 100%;
    position: relative;
}
#touchzone .left {
    width: 50%;
    height: 100%;
    position: absolute;
}
#touchzone .right {
    left: 50%;
    width: 50%;
    height: 100%;
    position: absolute;
}
.stair {
    position: absolute;
    background-color: #bada55;
    height: 15px;
    border-radius: 8px;
    transition: left 40ms linear, bottom 20ms linear;
}
.chitika {
    text-align: center;
    margin: 10px 0;
}
.footer {
    width: 100%;
    background: #fefefe;
    text-align: center;
}
#fork-me {
    position: absolute;
    top: 0;
    right: 0;
}
